include ../include_pug/_variable.pug
// l-footer
footer.l-footer
	div.l-footer__inner.c-inner-max
		div.l-footer__profile
			p.l-footer__logo
				img(src!=img_path+"common/logo.svg" alt="デザインアルジュナ" decoding="async").js-svg
			p.l-footer__service
				span.c-crop.
					Branding Design<br>
					Graphic Design<br>
					Web Design<br>
					Product Development
			p.l-footer__address.c-crop.
				株式会社アルジュナ<br>
				長崎県長崎市万才町<span class="u-font-sans-serif">2-7</span>松本ビル<span class="u-font-sans-serif">202</span>
		nav.l-footer__nav
			ul.l-footer__nav__en
				li: a(href!=root+"about/") About us
				li: a(href!=root+"branding/") Branding
				li: a(href!=root+"works/") Works
				li: a(href!=root+"blog/") Blog
				li: a(href!=root+"contact/") Contact
			div.l-footer__nav__group
				p.l-footer__nav__parent
					a(href!=root+"works/") サービス案内
				ul.l-footer__nav__children
					li: a(href!=root+"works/") ブランディング
					li: a(href!=root+"works/") ロゴ（CI・VI）・ネーミング
					li: a(href!=root+"works/") パッケージ
					li: a(href!=root+"works/") パンフレット・会社案内
					li: a(href!=root+"works/") フライヤー・チラシ・DM
					li: a(href!=root+"works/") 名刺・封筒・ショップカード
					li: a(href!=root+"works/") イラスト
					li: a(href!=root+"works/") コーポレートサイト
					li: a(href!=root+"works/") ネットショップ
					li: a(href!=root+"works/") ランディングページ
					li: a(href!=root+"works/") 動画・ムービー
			div.l-footer__nav__group
				p.l-footer__nav__parent
					a(href!=root+"works/") 制作実績
				ul.l-footer__nav__children
					li: a(href!=root+"works/") すべて
					li: a(href!=root+"works/") 病院・クリニック・医療
					li: a(href!=root+"works/") 介護・福祉
					li: a(href!=root+"works/") ホテル・旅館
					li: a(href!=root+"works/") 製造・メーカー
					li: a(href!=root+"works/") 学校・教育・保育
					li: a(href!=root+"works/") 工業・インフラ・流通・交通
					li: a(href!=root+"works/") 建築・住宅・不動産
					li: a(href!=root+"works/") アパレル・ファッション
					li: a(href!=root+"works/") 美容・化粧品・健康
					li: a(href!=root+"works/") 飲食店・食品
					li: a(href!=root+"works/") インテリア・雑貨・日用品
					li: a(href!=root+"works/") ウェディング
					li: a(href!=root+"works/") 行政・団体
					li: a(href!=root+"works/") その他
// /l-footer