/**
 *
 * position.scss
 *
 */
/* ------------------------------------------------------------
 position
------------------------------------------------------------ */
// .u-p-relative{ position: relative; }
// .u-p-absolute{ position: absolute; }

// .u-p-relative-0{ position: relative; z-index: 0; }
// .u-p-relative-1{ position: relative; z-index: 1; }
// .u-p-relative-2{ position: relative; z-index: 2; }


