/**
 *
 * radius.scss
 *
 */
/* ------------------------------------------------------------
 radius
------------------------------------------------------------ */
// .u-radius-1   { border-radius: 1px; }
// .u-radius-2   { border-radius: 2px; }
// .u-radius-3   { border-radius: 3px; }
// .u-radius-4   { border-radius: 4px; }
// .u-radius-5   { border-radius: 5px; }
// .u-radius-6   { border-radius: 6px; }
// .u-radius-7   { border-radius: 7px; }
// .u-radius-8   { border-radius: 8px; }
// .u-radius-9   { border-radius: 9px; }
// .u-radius-10  { border-radius: 10px; }
// .u-radius-15  { border-radius: 15px; }
// .u-radius-20  { border-radius: 20px; }
// .u-radius-25  { border-radius: 25px; }
// .u-radius-30  { border-radius: 30px; }
// .u-radius-35  { border-radius: 35px; }
// .u-radius-40  { border-radius: 40px; }
// .u-radius-45  { border-radius: 45px; }
// .u-radius-50  { border-radius: 50px; }
// .u-radius-50-p{ border-radius: 50%; }

