-
	//- ------------------------------------------------------------
	//- path
	//- ------------------------------------------------------------
	const root          = '<?= $root; ?>';
	const img_path      = '<?= $img_path; ?>';
	const this_path     = '<?= $this_path; ?>';
	const this_img_path = '<?= $this_img_path; ?>';

	//- ------------------------------------------------------------
	//- Media Query
	//- ------------------------------------------------------------
	const mqUpSm   = '<?= $mqUpSm; ?>';
	const mqUpMd   = '<?= $mqUpMd; ?>';
	const mqUpLg   = '<?= $mqUpLg; ?>';

	const mqDownSm = '<?= $mqDownSm; ?>';
	const mqDownMd = '<?= $mqDownMd; ?>';
	const mqDownLg = '<?= $mqDownLg; ?>';






